<p>- Hi, I'm kadim!</p>
<p>- Yet another Rails admin?</p>
<p>- No, only a kadim!</p>
<small>
  <i>
    * kadim: derived from "cadim", an expression from the brazillian mineiro dialect, that means "a little bit".
  </i>
</small>
